.text {
  alignment-baseline: middle;
  text-anchor: middle;
  font-size: 4pt;
}

.textx {
  alignment-baseline: middle;
  text-anchor: middle;
  font-size: 6pt;
  font-weight: bold;
}

.nut {
  stroke: #000;
  stroke-width: 2;
  stroke-linecap:round;
}

.fret {
  stroke: #000;
  stroke-width: .5;
}

.finger {
  stroke: #000;
  stroke-width: .5;
}

.string {
  stroke: #000;
  stroke-width: .5;
}

.n1 { fill: #a71b4b; }
.n2 { fill: #e96f02; }
.n3 { fill: #f9c25c; }
.n4 { fill: #fefdbe; }
.n5 { fill: #81dead; }
.n6 { fill: #00a3b6; }
.n7 { fill: #584b9f; }

.chord {
  margin: 10px;
  width: 200px;

}

.active {
  background: cornflowerblue;
}

.chordblock {
  float: left;
}

.chordblock svg {
  display: block;
}

.chordblock button {
  line-height: 1;
  padding: 3px;
}

.chordblock div {
  text-align: center;
}

.clear {
  clear: both;
}

.footer {
  border-top: 1px solid black;
  padding-top: 10px;
  color: dimgray;
}

.roman {
  font-weight: normal;
  color: dimgray;
  font-size: smaller;
  margin-left: 30px;
}
