@media (max-width: 767px) {

  .chordblock {
	width: 175px;
  }

  .content {
	padding: 10px;
	padding-top: 20px;
  }

  .scale svg {
	margin: 0 auto;
	display: block;
  }

  .chordRoots {
	margin-bottom: 10px;
  }

  .chordRoots button {
	margin: 0;
	width: 16%;
  }
}

@media (min-width: 767px) {
  .chordblock {
	width: 250px;
  }
  .content {
	padding: 36px;
  }

}

@media print {
  fieldset, .controls, .menu, .chord-label {
	display: none !important;
  }
  .only-print, header div:last-of-type {
	display: block !important;
  }

  h1, h2 {
	padding: 0;
	margin: 0;
	margin-right: 10px;
  }
  .chordblock {
	width: 25%;
	margin: 0 !important;
  }
  .scale {
	padding-top: 100px;
	break-before: page;
  }
  .scale div {
	height: 75vh;
  }
  .scale svg {
	height: 100%;
  }
}

.only-print, header div:last-of-type {
  display: none;
}

.chord {
  margin: 10px;
  width: 100%;
}

.chord .text {
  alignment-baseline: middle;
  text-anchor: middle;
  font-size: 4pt;
}

.chord .textx {
  alignment-baseline: middle;
  text-anchor: middle;
  font-size: 6pt;
  font-weight: bold;
}

.chord .nut {
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
}

.chord .fret {
  stroke: #000;
  stroke-width: .5;
}

.chord .finger {
  stroke: #000;
  stroke-width: .5;
}

.chord .string {
  stroke: #000;
  stroke-width: .5;
}

.chord .bar {
  stroke: #666;
  stroke-width: 5;
  stroke-linecap: round;
}

.n1 { fill: #a71b4b; }
.n2 { fill: #e96f02; }
.n3 { fill: #f9c25c; }
.n4 { fill: #fefdbe; }
.n5 { fill: #81dead; }
.n6 { fill: #00a3b6; }
.n7 { fill: #584b9f; }


.active {
  background: cornflowerblue !important;
}

.chordblock {
  margin-right: 20px;
}

.chordblock svg {
  display: block;
  width: 80%;
  margin: auto;
}

.chordblock button {
  line-height: 1;
  padding: 3px;
}

.chordblock div {
  text-align: center;
}

.footer {
  border-top: 1px solid black;
  padding: 10px;
  color: dimgray;
}

.roman {
  font-weight: normal;
  color: dimgray;
  font-size: smaller;
  margin-right: 20px;
}

.scale svg {
  width: 300px;
}

body {
  padding: 0;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 3;
  padding: 0;
  position: sticky;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .logo img {
  vertical-align: top;
}

.header .logo div {
  display: inline-block;
  line-height: normal;
  margin-left: 10px;
  font-size: 0.5em;
}

.header .instrument {
  color: #555;
  font-size: small;
}


/* menu */

.header .menu {
  flex: 0 1 100%;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  user-select: none;
  margin: 0;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header ul {
	display: flex;
	flex: 0 1 auto !important;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

p, dd {
  color: #555;
}

p a {
  text-decoration: underline;
}

label {
  font-weight: 500;
}

.chord-notes {
  font-size: small;
}

.chords {
  display: flex;
  flex-wrap: wrap;
  box-decoration-break: clone;
}

.instrument-editor select {
  margin-left: 10px;
}

.instrument-editor .small-button {
  padding: 3px;
  line-height: normal;
}

svg|a:link,
svg|a:visited {
  cursor: pointer;
}
